<header>
    <div class="jumbotron" style="background-image: url(http://jimkulakowski.com/web-design/img/parallax-backgrounds/space.jpg);
        height: 25%;width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-3" style="color: white;">EDT</h1>
                    <p style="color:white;">Este página web permite crear una Estructura de desglose de trabajo
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>