<main>
    <div id="profile" style="margin-top:20px;">
        <div class="container">
            <div id="profile-row" class="row justify-content-left align-items-center">
                <div id="columns" class="col-md-6">
                    <div id="sizebox" class="col-md-12">
                        <h3 class="text-left text-info">Perfil</h3>
                        <label for="name" class="text-info">
                            <p style="color: black;font-weight:500;">Nombre: {{user.name}} </p>
                        </label></br>
                        <label for="name" class="text-info">
                            <p style="color: black;font-weight:500;">Apellidos: {{user.surname}} </p>
                        </label></br>
                        <label for="name" class="text-info">
                            <p style="color: black;font-weight:500;">Dirección: {{user.direccion}} </p>
                        </label></br>
                        <label for="email" class="text-info">
                            <p style="color: black;font-weight:500;">Correo electrónico: {{user.email}}</p>
                        </label></br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>